In [1]:
import pandas as pd

data = {"Name": ["Govind", "Varun", "Dhwani"],
       "Age": [22,21,21],
       "Salary": [30000, 20000, 16000]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salary
0  Govind   22   30000
1   Varun   21   20000
2  Dhwani   21   16000

In [2]:
data = pd.read_csv("C:/Users/hp/OneDrive - SRI GURU TEGH BAHADUR INSTITUTE OF MANAGEMENT AND INFORMATION TECHNOLOGY/Desktop/Book1 - Copy.csv")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type reservation_status reservation_status_date  \
0                       C          Check-Out           7/1/2015 0:00
1                       C          Check-Out           7/1/2015 0:00
2                       C          Check-Out           7/2/2015 0:00
3                       A          Check-Out           7/2/2015 0:00
4                       A          Check-Out           7/3/2015 0:00
...                   ...                ...                     ...
119385                  A          Check-Out           9/6/2017 0:00
119386                  E          Check-Out           9/7/2017 0:00
119387                  D          Check-Out           9/7/2017 0:00
119388                  A          Check-Out           9/7/2017 0:00
119389                  A          Check-Out           9/7/2017 0:00

        room_status
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
119385          NaN
119386          NaN
119387          NaN
119388          NaN
119389          NaN

[119390 rows x 13 columns]

In [3]:
data = pd.read_csv("sales.csv")
#print(data)
print(data.head(20))
print(data.tail(20))

    Observation  Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  \
0             1     9796.0       5250.0     10703.0      1659.0
1             2     8294.0       8186.0     12694.0      1461.0
2             3    11001.0      14399.0     16991.0      1340.0
3             4     8301.0      11188.0     12289.0      1451.0
4             5    10510.0      12629.0     13921.0      1770.0
5             6     6665.0       5142.0      9972.0      1442.0
6             7    13153.0      11869.0     17811.0      1542.0
7             8     5882.0       9948.0     13315.0      1261.0
8             9     7495.0      11589.0     13370.0      1090.0
9            10     8233.0       7067.0     11400.0      1030.0
10           11     4278.0      10646.0      8243.0      1187.0
11           12     8066.0      11149.0     12936.0      1751.0
12           13     7693.0       9130.0     14684.0      1746.0
13           14     5236.0      10853.0     13054.0      1615.0
14           15     6027.0       6707.0     10176.0      1469.0
15           16     9648.0      14789.0     12812.0      1644.0
16           17    11079.0      13102.0     13076.0      1578.0
17           18     6698.0      11519.0     13441.0      1703.0
18           19     9609.0       9066.0     13304.0      1438.0
19           20     6209.0       7839.0     10660.0      1837.0

    Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0            1961.0          Open           CAT B                   530
1            1752.0  Not Provided           CAT B                     0
2            1609.0  Not Provided           CAT A                     0
3            1748.0       Covered           CAT B                     0
4            2111.0  Not Provided           CAT B                     0
5            1733.0          Open           CAT B                     0
6            1858.0    No Parking           CAT A                     0
7            1507.0          Open           CAT C                  1020
8            1321.0  Not Provided           CAT B                   680
9               NaN          Open           CAT C                  1130
10           1439.0       Covered           CAT A                  1090
11           2098.0    No Parking           CAT B                   720
12           2064.0          Open           CAT B                  1050
13           1931.0       Covered           CAT B                  1160
14           1756.0          Open           CAT B                   770
15           1950.0       Covered           CAT A                   790
16           1907.0          Open           CAT A                  1440
17           2045.0       Covered           CAT B                   670
18           1731.0          Open           CAT A                  1030
19              NaN          Open           CAT B                   790

    Store_Sales
0       66490.0
1       39820.0
2       54010.0
3       53730.0
4       46620.0
5       45260.0
6       72240.0
7       37720.0
8       46310.0
9       44150.0
10          NaN
11      57620.0
12      60470.0
13      59130.0
14          NaN
15      78870.0
16      77250.0
17      38170.0
18      63540.0
19      49220.0
     Observation  Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  \
912          913     7550.0      12641.0     14060.0      1771.0
913          914     8979.0      10075.0     13734.0      1205.0
914          915     9652.0       9102.0     12608.0      1792.0
915          916        NaN          NaN     13077.0      1581.0
916          917     8929.0      12396.0     12930.0      1263.0
917          918     9866.0      11461.0     15834.0      1344.0
918          919    10022.0      12911.0     16307.0      1819.0
919          920     6741.0      11479.0     11152.0      1357.0
920          921    10840.0      11137.0     15466.0      1396.0
921          922     9205.0      10418.0     14496.0      1118.0
922          923     9538.0      11551.0     12839.0      1655.0
923          924    11786.0      13969.0     15519.0      1156.0
924          925     9615.0       7904.0     12521.0      1451.0
925          926     7176.0       5779.0     12382.0      1539.0
926          927    10915.0      17486.0     15964.0      1549.0
927          928    12176.0       8518.0     15673.0      1582.0
928          929     7214.0       8717.0     10553.0      1387.0
929          930     7423.0      11708.0     13220.0      1200.0
930          931    15082.0      14700.0     19617.0      1299.0
931          932     9297.0      12537.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
912           2138.0  Not Provided           CAT B                   820
913           1468.0          Open           CAT B                  1210
914           2131.0    No Parking           CAT A                   810
915           1889.0          Open           CAT C                   970
916           1516.0       Covered           CAT A                   780
917           1605.0    No Parking           CAT A                  1160
918           2187.0  Not Provided           CAT B                   590
919           1625.0          Open           CAT A                  1140
920           1673.0          Open           CAT C                   690
921           1337.0          Open           CAT A                   560
922           1986.0       Covered           CAT B                  1150
923           1398.0          Open           CAT A                   140
924           1734.0          Open           CAT C                   670
925           1829.0          Open           CAT B                   650
926           1851.0  Not Provided           CAT C                  1220
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
912      57820.0
913      61210.0
914      76420.0
915      60290.0
916      70980.0
917      76740.0
918      47920.0
919      52160.0
920      32740.0
921      72270.0
922      77430.0
923      92370.0
924      34880.0
925      46580.0
926      70620.0
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation           932 non-null    int64
 1   Dist_Taxi             919 non-null    float64
 2   Dist_Market           919 non-null    float64
 3   Dist_Metro            931 non-null    float64
 4   Store_Area            924 non-null    float64
 5   Items_Available       916 non-null    float64
 6   Parking               932 non-null    object
 7   Coupon_Category       932 non-null    object
 8   Daily_Customer_Count  932 non-null    int64
 9   Store_Sales           930 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 72.9+ KB
None

In [5]:
data.describe()

,Observation,Dist_Taxi,Dist_Market,Dist_Metro,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,932.000000,919.000000,919.000000,931.000000,924.000000,916.000000,932.000000,9.300000e+02
mean,466.500000,8229.727965,11018.752992,13072.092374,1511.862554,1795.536026,751.062232,6.082981e+04
std,269.189524,2561.985008,2543.920590,2586.456161,790.969660,468.048925,309.275944,5.030621e+04
min,1.000000,146.000000,1666.000000,3227.000000,775.000000,932.000000,-110.000000,3.000000e+02
25%,233.750000,6476.000000,9354.500000,11301.500000,1318.000000,1583.750000,570.000000,4.658000e+04
50%,466.500000,8230.000000,11161.000000,13163.000000,1480.500000,1774.500000,770.000000,5.863500e+04
75%,699.250000,9937.000000,12670.500000,14817.000000,1655.000000,1982.750000,950.000000,7.195750e+04
max,932.000000,20662.000000,20945.000000,23294.000000,24300.000000,12730.000000,1560.000000,1.500000e+06

### handling duplicate values

In [6]:
print(data.isnull().sum())

Observation              0
Dist_Taxi               13
Dist_Market             13
Dist_Metro               1
Store_Area               8
Items_Available         16
Parking                  0
Coupon_Category          0
Daily_Customer_Count     0
Store_Sales              2
dtype: int64

In [7]:
print(data["Parking"].duplicated().sum()) # this will the number (sum) of the duplicate values

928

In [8]:
print(data.drop_duplicates("Parking")) # this will delete all the duplicate values

   Observation  Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  \
0            1     9796.0       5250.0     10703.0      1659.0
1            2     8294.0       8186.0     12694.0      1461.0
3            4     8301.0      11188.0     12289.0      1451.0
6            7    13153.0      11869.0     17811.0      1542.0

   Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0           1961.0          Open           CAT B                   530
1           1752.0  Not Provided           CAT B                     0
3           1748.0       Covered           CAT B                     0
6           1858.0    No Parking           CAT A                     0

   Store_Sales
0      66490.0
1      39820.0
3      53730.0
6      72240.0

### handling null values

In [9]:
data = pd.read_csv("sales.csv")
print(data)

     Observation  Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  \
0              1     9796.0       5250.0     10703.0      1659.0
1              2     8294.0       8186.0     12694.0      1461.0
2              3    11001.0      14399.0     16991.0      1340.0
3              4     8301.0      11188.0     12289.0      1451.0
4              5    10510.0      12629.0     13921.0      1770.0
..           ...        ...          ...         ...         ...
927          928    12176.0       8518.0     15673.0      1582.0
928          929     7214.0       8717.0     10553.0      1387.0
929          930     7423.0      11708.0     13220.0      1200.0
930          931    15082.0      14700.0     19617.0      1299.0
931          932     9297.0      12537.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0             1961.0          Open           CAT B                   530
1             1752.0  Not Provided           CAT B                     0
2             1609.0  Not Provided           CAT A                     0
3             1748.0       Covered           CAT B                     0
4             2111.0  Not Provided           CAT B                     0
..               ...           ...             ...                   ...
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
0        66490.0
1        39820.0
2        54010.0
3        53730.0
4        46620.0
..           ...
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

[932 rows x 10 columns]

In [10]:
print(data.isnull().sum())

Observation              0
Dist_Taxi               13
Dist_Market             13
Dist_Metro               1
Store_Area               8
Items_Available         16
Parking                  0
Coupon_Category          0
Daily_Customer_Count     0
Store_Sales              2
dtype: int64

In [11]:
print(data.dropna()) # drop the null values

     Observation  Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  \
0              1     9796.0       5250.0     10703.0      1659.0
1              2     8294.0       8186.0     12694.0      1461.0
2              3    11001.0      14399.0     16991.0      1340.0
3              4     8301.0      11188.0     12289.0      1451.0
4              5    10510.0      12629.0     13921.0      1770.0
..           ...        ...          ...         ...         ...
927          928    12176.0       8518.0     15673.0      1582.0
928          929     7214.0       8717.0     10553.0      1387.0
929          930     7423.0      11708.0     13220.0      1200.0
930          931    15082.0      14700.0     19617.0      1299.0
931          932     9297.0      12537.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0             1961.0          Open           CAT B                   530
1             1752.0  Not Provided           CAT B                     0
2             1609.0  Not Provided           CAT A                     0
3             1748.0       Covered           CAT B                     0
4             2111.0  Not Provided           CAT B                     0
..               ...           ...             ...                   ...
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
0        66490.0
1        39820.0
2        54010.0
3        53730.0
4        46620.0
..           ...
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

[895 rows x 10 columns]

In [12]:
print(data.isnull().sum())

Observation              0
Dist_Taxi               13
Dist_Market             13
Dist_Metro               1
Store_Area               8
Items_Available         16
Parking                  0
Coupon_Category          0
Daily_Customer_Count     0
Store_Sales              2
dtype: int64

In [13]:
import numpy as np
print(data.replace(np.nan, "substitute")) # this will replace the nan value with the given value, here it is substitute

     Observation Dist_Taxi Dist_Market Dist_Metro Store_Area Items_Available  \
0              1    9796.0      5250.0    10703.0     1659.0          1961.0
1              2    8294.0      8186.0    12694.0     1461.0          1752.0
2              3   11001.0     14399.0    16991.0     1340.0          1609.0
3              4    8301.0     11188.0    12289.0     1451.0          1748.0
4              5   10510.0     12629.0    13921.0     1770.0          2111.0
..           ...       ...         ...        ...        ...             ...
927          928   12176.0      8518.0    15673.0     1582.0          1910.0
928          929    7214.0      8717.0    10553.0     1387.0          1663.0
929          930    7423.0     11708.0    13220.0     1200.0          1436.0
930          931   15082.0     14700.0    19617.0     1299.0          1560.0
931          932    9297.0     12537.0    14418.0     1174.0          1429.0

          Parking Coupon_Category  Daily_Customer_Count Store_Sales
0            Open           CAT B                   530     66490.0
1    Not Provided           CAT B                     0     39820.0
2    Not Provided           CAT A                     0     54010.0
3         Covered           CAT B                     0     53730.0
4    Not Provided           CAT B                     0     46620.0
..            ...             ...                   ...         ...
927       Covered           CAT C                  1080     66390.0
928          Open           CAT A                   850     82080.0
929          Open           CAT A                  1060     76440.0
930          Open           CAT B                   770     96610.0
931       Covered           CAT C                  1110     54340.0

[932 rows x 10 columns]

In [14]:
data["Dist_Market"] = data["Dist_Market"].replace(np.nan, "12") # now this will only replace the values of the particular column that is given
print(data)

     Observation  Dist_Taxi Dist_Market  Dist_Metro  Store_Area  \
0              1     9796.0      5250.0     10703.0      1659.0
1              2     8294.0      8186.0     12694.0      1461.0
2              3    11001.0     14399.0     16991.0      1340.0
3              4     8301.0     11188.0     12289.0      1451.0
4              5    10510.0     12629.0     13921.0      1770.0
..           ...        ...         ...         ...         ...
927          928    12176.0      8518.0     15673.0      1582.0
928          929     7214.0      8717.0     10553.0      1387.0
929          930     7423.0     11708.0     13220.0      1200.0
930          931    15082.0     14700.0     19617.0      1299.0
931          932     9297.0     12537.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0             1961.0          Open           CAT B                   530
1             1752.0  Not Provided           CAT B                     0
2             1609.0  Not Provided           CAT A                     0
3             1748.0       Covered           CAT B                     0
4             2111.0  Not Provided           CAT B                     0
..               ...           ...             ...                   ...
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
0        66490.0
1        39820.0
2        54010.0
3        53730.0
4        46620.0
..           ...
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

[932 rows x 10 columns]

In [15]:
print(data["Dist_Taxi"].mean())

8229.727965179543

In [16]:
data["Dist_Market"] = data["Dist_Taxi"].replace(np.nan, "8229.727965179543") # now this will only replace the values of the particular column that is given
print(data)

     Observation  Dist_Taxi Dist_Market  Dist_Metro  Store_Area  \
0              1     9796.0      9796.0     10703.0      1659.0
1              2     8294.0      8294.0     12694.0      1461.0
2              3    11001.0     11001.0     16991.0      1340.0
3              4     8301.0      8301.0     12289.0      1451.0
4              5    10510.0     10510.0     13921.0      1770.0
..           ...        ...         ...         ...         ...
927          928    12176.0     12176.0     15673.0      1582.0
928          929     7214.0      7214.0     10553.0      1387.0
929          930     7423.0      7423.0     13220.0      1200.0
930          931    15082.0     15082.0     19617.0      1299.0
931          932     9297.0      9297.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0             1961.0          Open           CAT B                   530
1             1752.0  Not Provided           CAT B                     0
2             1609.0  Not Provided           CAT A                     0
3             1748.0       Covered           CAT B                     0
4             2111.0  Not Provided           CAT B                     0
..               ...           ...             ...                   ...
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
0        66490.0
1        39820.0
2        54010.0
3        53730.0
4        46620.0
..           ...
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

[932 rows x 10 columns]

In [17]:
print(data.fillna(method="bfill")) #bfill means upper value at lower and ffill means lower value at upper, used where filling nan values is crutial

     Observation  Dist_Taxi Dist_Market  Dist_Metro  Store_Area  \
0              1     9796.0      9796.0     10703.0      1659.0
1              2     8294.0      8294.0     12694.0      1461.0
2              3    11001.0     11001.0     16991.0      1340.0
3              4     8301.0      8301.0     12289.0      1451.0
4              5    10510.0     10510.0     13921.0      1770.0
..           ...        ...         ...         ...         ...
927          928    12176.0     12176.0     15673.0      1582.0
928          929     7214.0      7214.0     10553.0      1387.0
929          930     7423.0      7423.0     13220.0      1200.0
930          931    15082.0     15082.0     19617.0      1299.0
931          932     9297.0      9297.0     14418.0      1174.0

     Items_Available       Parking Coupon_Category  Daily_Customer_Count  \
0             1961.0          Open           CAT B                   530
1             1752.0  Not Provided           CAT B                     0
2             1609.0  Not Provided           CAT A                     0
3             1748.0       Covered           CAT B                     0
4             2111.0  Not Provided           CAT B                     0
..               ...           ...             ...                   ...
927           1910.0       Covered           CAT C                  1080
928           1663.0          Open           CAT A                   850
929           1436.0          Open           CAT A                  1060
930           1560.0          Open           CAT B                   770
931           1429.0       Covered           CAT C                  1110

     Store_Sales
0        66490.0
1        39820.0
2        54010.0
3        53730.0
4        46620.0
..           ...
927      66390.0
928      82080.0
929      76440.0
930      96610.0
931      54340.0

[932 rows x 10 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_13916\4146077907.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="bfill")) #bfill means upper value at lower and ffill means lower value at upper, used where filling nan values is crutial

In [ ]:
### columns transformation

data = pd.read_csv("hotel_bookings.csv")
print(data.columns)

In [19]:
data.loc[(data["booking_changes"] == 0), "booking changed"] = "no change"
data.loc[(data["booking_changes"] > 0), "booking changed"] = "changes"
print(data)
# This will create a new column that is booking changed and the values will be changed and no changes accordingly

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  agent  company  \
0                          0       2  ...    NaN      NaN
1                          0       2  ...    NaN      NaN
2                          1       1  ...    NaN      NaN
3                          1       1  ...  304.0      NaN
4                          2       2  ...  240.0      NaN
...                      ...     ...  ...    ...      ...
119385                     5       2  ...  394.0      NaN
119386                     5       3  ...    9.0      NaN
119387                     5       2  ...    9.0      NaN
119388                     5       2  ...   89.0      NaN
119389                     7       2  ...    9.0      NaN

       days_in_waiting_list customer_type     adr required_car_parking_spaces  \
0                         0     Transient    0.00                           0
1                         0     Transient    0.00                           0
2                         0     Transient   75.00                           0
3                         0     Transient   75.00                           0
4                         0     Transient   98.00                           0
...                     ...           ...     ...                         ...
119385                    0     Transient   96.14                           0
119386                    0     Transient  225.43                           0
119387                    0     Transient  157.71                           0
119388                    0     Transient  104.40                           0
119389                    0     Transient  151.20                           0

        total_of_special_requests  reservation_status  \
0                               0           Check-Out
1                               0           Check-Out
2                               0           Check-Out
3                               0           Check-Out
4                               1           Check-Out
...                           ...                 ...
119385                          0           Check-Out
119386                          2           Check-Out
119387                          4           Check-Out
119388                          0           Check-Out
119389                          2           Check-Out

        reservation_status_date booking changed
0                    2015-07-01         changes
1                    2015-07-01         changes
2                    2015-07-02       no change
3                    2015-07-02       no change
4                    2015-07-03       no change
...                         ...             ...
119385               2017-09-06       no change
119386               2017-09-07       no change
119387               2017-09-07       no change
119388               2017-09-07       no change
119389               2017-09-07       no change

[119390 rows x 33 columns]

In [20]:
data = pd.read_excel("normal.xlsx")
print(data)

  First name Last name  class
0     govind     gupta     16
1      varun  sachdeva     16
2     dhwani      garg     16
3       amit       sen     15
4       sonu     gupta     14

In [21]:
data["Full Name"] = data["First name"] + " " + data["Last name"]
print(data)

  First name Last name  class       Full Name
0     govind     gupta     16    govind gupta
1      varun  sachdeva     16  varun sachdeva
2     dhwani      garg     16     dhwani garg
3       amit       sen     15        amit sen
4       sonu     gupta     14      sonu gupta

In [22]:
data["Full Name"] = data["First name"].str.capitalize() + " " + data["Last name"].str.capitalize()
print(data)

  First name Last name  class       Full Name
0     govind     gupta     16    Govind Gupta
1      varun  sachdeva     16  Varun Sachdeva
2     dhwani      garg     16     Dhwani Garg
3       amit       sen     15        Amit Sen
4       sonu     gupta     14      Sonu Gupta

In [23]:
data = pd.read_csv("hotel_bookings.csv")
print(data)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN     NaN
1                          0       2  ...    No Deposit    NaN     NaN
2                          1       1  ...    No Deposit    NaN     NaN
3                          1       1  ...    No Deposit  304.0     NaN
4                          2       2  ...    No Deposit  240.0     NaN
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0     NaN
119386                     5       3  ...    No Deposit    9.0     NaN
119387                     5       2  ...    No Deposit    9.0     NaN
119388                     5       2  ...    No Deposit   89.0     NaN
119389                     7       2  ...    No Deposit    9.0     NaN

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out              2015-07-01
1                Check-Out              2015-07-01
2                Check-Out              2015-07-02
3                Check-Out              2015-07-02
4                Check-Out              2015-07-03
...                    ...                     ...
119385           Check-Out              2017-09-06
119386           Check-Out              2017-09-07
119387           Check-Out              2017-09-07
119388           Check-Out              2017-09-07
119389           Check-Out              2017-09-07

[119390 rows x 32 columns]

## groupby functions

In [24]:
gp  = data.groupby("arrival_date_month").agg({"agent":"count"})
#gp  = data.groupby(["arrival_date_month", "other subcategory"]).agg({"agent": "count"}) ## This will give the aggregate but with the bifurcation of the second parameter
print(gp)

                    agent
arrival_date_month
April                9758
August              12682
December             5631
February             6461
January              4563
July                11604
June                 9806
March                8149
May                 10089
November             5409
October              9461
September            9437

## joins, merge, concatinate

In [27]:
data1 = {"empid":["e1","e2","e3","e4","e5","e6"],
        "names":["ram","sham","tinu","rahu","tom","jerry"],
        "age":[23,34,24,21,27,26]}

data2 = {"empid":["e1","e2","e3","e4","e5","e6"],
        "salary":[45000,54000,60000,38000,51000,80000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  empid  names  age
0    e1    ram   23
1    e2   sham   34
2    e3   tinu   24
3    e4   rahu   21
4    e5    tom   27
5    e6  jerry   26

  empid  salary
0    e1   45000
1    e2   54000
2    e3   60000
3    e4   38000
4    e5   51000
5    e6   80000

In [28]:
print(pd.merge(df1,df2,on = "empid"))
#"on" word is used for "on the basis of"

  empid  names  age  salary
0    e1    ram   23   45000
1    e2   sham   34   54000
2    e3   tinu   24   60000
3    e4   rahu   21   38000
4    e5    tom   27   51000
5    e6  jerry   26   80000

In [35]:
data1 = {"empid":["e1","e2","e3","e4","e5","e6"],
        "names":["ram","sham","tinu","rahu","tom","jerry"],
        "age":[23,34,24,21,27,26]}

data2 = {"empid":["e1","e7","e3","e4","e8","e6"],
        "salary":[45000,54000,60000,38000,51000,80000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  empid  names  age
0    e1    ram   23
1    e2   sham   34
2    e3   tinu   24
3    e4   rahu   21
4    e5    tom   27
5    e6  jerry   26

  empid  salary
0    e1   45000
1    e7   54000
2    e3   60000
3    e4   38000
4    e8   51000
5    e6   80000

In [30]:
print(pd.merge(df1,df2,on = "empid")) # as now the data has been slightly changes the result is different

  empid  names  age  salary
0    e1    ram   23   45000
1    e3   tinu   24   60000
2    e4   rahu   21   38000
3    e6  jerry   26   80000

In [32]:
print(pd.merge(left = df1,right = df2,on = "empid", how = "left")) # with the help of how it is specified that which column has to be prioritized
#now this has been specified that what is left and what is right so this is giving the correct and accurate output

  empid  names  age   salary
0    e1    ram   23  45000.0
1    e2   sham   34      NaN
2    e3   tinu   24  60000.0
3    e4   rahu   21  38000.0
4    e5    tom   27      NaN
5    e6  jerry   26  80000.0

In [36]:
print(pd.merge(left = df1,right = df2,on = "empid", how = "right"))
# here the ouput is according to the second data

  empid  names   age  salary
0    e1    ram  23.0   45000
1    e7    NaN   NaN   54000
2    e3   tinu  24.0   60000
3    e4   rahu  21.0   38000
4    e8    NaN   NaN   51000
5    e6  jerry  26.0   80000

In [38]:
data1 = {"empid":["e1","e2","e3","e4","e5","e6"],
        "names":["ram","sham","tinu","rahu","tom","jerry"],
        "age":[23,34,24,21,27,26]}

data2 = {"empid":["e7","e8","e9","e10","e11","e12"],
        "names":["tinni","tillu","rita","john","golu","tinga"],
        "age":[23,34,24,21,27,26]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(pd.concat([df1,df2]))

  empid  names  age
0    e1    ram   23
1    e2   sham   34
2    e3   tinu   24
3    e4   rahu   21
4    e5    tom   27
5    e6  jerry   26
0    e7  tinni   23
1    e8  tillu   34
2    e9   rita   24
3   e10   john   21
4   e11   golu   27
5   e12  tinga   26

## compare

In [47]:
dict = {"fruits": ["mango", "pineapple","apple", "banana"],
       "price": [100,150,200,125],
       "quantity": [1,2,3,4]}

df1 = pd.DataFrame(dict)
print(df1)

print()

df2 = df1.copy()

df2.loc[0, "price"] = 200
df2.loc[1, "price"] = 175
df2.loc[3, "price"] = 150
df2.loc[0, "quantity"] = 4
df2.loc[1, "quantity"] = 2
df2.loc[3, "quantity"] = 3

print(df2)

print()

print(df1.compare(df2, align_axis = 0))

      fruits  price  quantity
0      mango    100         1
1  pineapple    150         2
2      apple    200         3
3     banana    125         4

      fruits  price  quantity
0      mango    200         4
1  pineapple    175         2
2      apple    200         3
3     banana    150         3

         price  quantity
0 self   100.0       1.0
  other  200.0       4.0
1 self   150.0       NaN
  other  175.0       NaN
3 self   125.0       4.0
  other  150.0       3.0

## pivoting and melting

In [60]:
#pivoting

import pandas as pd

dict = {"keys":["k1","k2","k1","k2"],
        "names":["bittu","chintu","gulli","tinu"],
        "houses":["red","green","blue","yellow"],
        "grades":["3rd","4th","5th","6th"]}

df = pd.DataFrame(dict)
print(df)
print()
print(df.pivot( index='keys', columns='names', values=['houses','grades']))

  keys   names  houses grades
0   k1   bittu     red    3rd
1   k2  chintu   green    4th
2   k1   gulli    blue    5th
3   k2    tinu  yellow    6th

      houses                      grades
names  bittu chintu gulli    tinu  bittu chintu gulli tinu
keys
k1       red    NaN  blue     NaN    3rd    NaN   5th  NaN
k2       NaN  green   NaN  yellow    NaN    4th   NaN  6th

In [68]:
dict = {"names":["bittu","chintu","gulli","tinu"],
        "houses":["red","green","blue","yellow"],
        "grades":["3rd","4th","5th","6th"]}

df = pd.DataFrame(dict)
print(df)
print()
print(pd.melt(df, id_vars= ["names"], value_vars=["houses", "grades"]))
# var_name and value_name are also used for the heading instead of variable and value

    names  houses grades
0   bittu     red    3rd
1  chintu   green    4th
2   gulli    blue    5th
3    tinu  yellow    6th

    names variable   value
0   bittu   houses     red
1  chintu   houses   green
2   gulli   houses    blue
3    tinu   houses  yellow
4   bittu   grades     3rd
5  chintu   grades     4th
6   gulli   grades     5th
7    tinu   grades     6th