In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from matplotlib import pyplot as plt

In [6]:
data = {"Name": ["Govind", "Varun", "Dhwani", "vibhuti"],
       "Age": [22,21,21,21],
       "Salary": [30000, 20000, 16000,20000]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0   Govind   22   30000
1    Varun   21   20000
2   Dhwani   21   16000
3  vibhuti   21   20000